<aside class="aside vh-100 p-4 d-flex flex-column justify-content-start bg-body-tertiary me-4">
    <img src="../assets/images/logo-ANSWER.svg" alt="answer logo" class="brand-logo mb-4">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" aria-current="true">
            <span class="material-icons">
                poll
            </span>
            <p>Dashboard</p>
        </button>
        <button type="button" class="list-group-item list-group-item-action"><span class="material-icons">
            forum
        </span><p>Question</p></button>
        <a href="index.html" class="list-group-item list-group-item-action active"><span class="material-icons">
            assignment
        </span><p>Assignment</p></a>
        <button type="button" class="list-group-item list-group-item-action"><span class="material-icons">
            video_library
        </span><p>Course</p></button>
        <a href="admin.html" class="list-group-item list-group-item-action" data-page="admin"><span class="material-icons">
            people
        </span><p>Admin</p></a>
        <button type="button" class="list-group-item list-group-item-action"><span class="material-icons">
            settings
        </span><p>Settings</p></button>
    </div>
    <div class="member d-flex mt-auto">
        <img src="../assets/images/andychen.jpeg" alt="andychen portrait" class="me-2">
        <div>
            <p class="name">Andy Chen</p>
            <p class="info text-muted">andy0401@mail.com</p>
        </div>
    </div>
</aside>