.aside {
  width: 296px;
  color: $gray-900;

  .brand-logo {
    width: 151px;
  }

  .list-group .list-group-item {
    vertical-align: middle;
    border: none;
    background: transparent;
    padding: 0;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    position: relative;

    &.active {
      color: $success;
      font-weight: bold;
    }

    &.active::before {
      content: '';
      position: absolute;
      left: -24px;
      width: 4px;
      top: 0;
      bottom: 0;
      background: green;
    }

    p {
      display: inline-block;
      margin-bottom: 0;
    }

    span {
      margin-right: 16px;
      font-size: 24px;
    }
  }
}