<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="fs-8 mb-0 lh-1">Chapter Assignment 2</h5>
            <span class="fs-8 mb-0 lh-1">4 hrs ago</span>
        </div>
        <div class="d-flex w-100 justify-content-between align-items-end">
            <p class="mb-0 fw-bold">Please check this file…</p>
            <small class="text-body-secondary fs-8">Emily Wang</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="fs-8 mb-0 lh-1">Chapter Assignment 1</h5>
            <span class="fs-8 mb-0 lh-1">12 hrs ago</span>
        </div>
        <div class="d-flex w-100 justify-content-between align-items-end">
            <p class="mb-0 fw-bold">My Homework</p>
            <small class="text-body-secondary fs-8">David Xu</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="fs-8 mb-0 lh-1">Final Assignment</h5>
            <span class="fs-8 mb-0 lh-1">18 hrs ago</span>
        </div>
        <div class="d-flex w-100 justify-content-between align-items-end">
            <p class="mb-0 fw-bold">Have a problem with this…</p>
            <small class="text-body-secondary fs-8">Tony Wei</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="fs-8 mb-0">Final Assignment</h5>
            <span class="fs-8 mb-0 lh-1">19 hrs ago</span>
        </div>
        <div class="d-flex w-100 justify-content-between align-items-end">
            <p class="mb-0 fw-bold">Did I do it right?</p>
            <small class="text-body-secondary fs-8">Christina Lin</small>
        </div>
    </a>
</div>